<ul class="wi_default">
	{% for match in matches %}
		<li><img src="{{base_url()}}assets/games/{{get_game_icon(match.game)}}" /> vs. <a href="{{base_url()}}matches/show/{{match.id}}">{{get_opponent_name(match.opponent)}}</a> <span>{{get_match_score(match.id)}}</span></li>
	{% endfor %}
</ul>