{% if logged_in %}
	<a href="{{base_url()}}forums/newtopic/{{forumID}}" class="pure-button pure-button-primary">
		<i class="icon-plus"></i> New topic
	</a>

	{% if is_mod %}
		<a href="{{base_url()}}forums/newtopic/{{forumID}}" class="pure-button pure-button-primary">
			<i class="icon-bullhorn"></i> New annoucement
		</a>
	{% endif %}

	<hr />
{% endif %}

{% if data %}
	<table width="100%" class="pure-table pure-table-bordered">
		<tbody>
		{% for topic in data %}
			<tr>
				<td width="30">
					{% if topic.sticky == 1 %}
						<i class="icon-asterisk icon-large"></i>
					{% else %}
						<i class="icon-comments icon-large"></i>
					{% endif %}
				</td>
				<td>
					<a href="{{ base_url() }}forums/topic/{{ topic.id }}">{{ topic.title }}</a>
					<br />
					<small>Started by {{ get_username(topic.author) }}</small>
				</td>
				<td class="text-right">
					Replies: {{count_replies(topic.id)}}
					<br />
					<small>Views: {{get_views(topic.id)}}</small>
				</td>
				<td width="27%" class="text-right">
					Last post: {{get_username(get_last_post_in_topic(topic.id).poster)}}
					<br />
					<small>{{topic.date}}</small>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="panel">No topics, go <a href="{{base_url()}}forums/newtopic/{{forumID}}">make one</a>.</div>
{% endif %}

{{pagination}}