{% if logged_in %}
	<a href="{{base_url()}}forums/newtopic/{{forumID}}" class="small button">
		<i class="icon-plus"></i> New topic
	</a>

	{% if is_mod %}
		<a href="{{base_url()}}forums/newtopic/{{forumID}}" class="small button">
			<i class="icon-bullhorn"></i> New annoucement
		</a>
	{% endif %}

{% endif %}

{% if data %}
	<table width="100%">
		<tbody>
		{% for topic in data %}
			<tr>
				<td width="30">
					{% if topic.sticky == 1 %}
						<i class="icon-asterisk icon-large"></i>
					{% else %}
						<i class="icon-comments icon-large"></i>
					{% endif %}
				</td>
				<td>
					<a href="{{base_url()}}forums/topic/{{topic.id}}">{{topic.title}}</a>
					<br />
					<span style="font-size: 12px;">Started by {{get_username(topic.author)}}</span>
				</td>
				<td class="text-right">
					Posts: {{count_replies(topic.id)}}
					<br />
					<span style="font-size: 12px;">Views: {{get_views(topic.id)}}</span>
				</td>
				<td width="27%" class="text-right">
					Last post: {{get_username(get_last_post_in_topic(topic.id).poster)}}
					<br />
					<span style="font-size: 12px;">{{topic.date}}</span>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	No topics!
{% endif %}

{{pagination}}