<ul class="breadcrumbs">
	<li><a href="{{ base_url('forums') }}">Forum</a></li>
	<li>&gt;</li>
	<li><a href="{{ base_url('forums/forum/' ~ forumID) }}">{{ get_forum_name(forumID) }}</a></li>
	<li>&gt;</li>
	<li><a href="{{ base_url('forums/topic/' ~ original_post.id) }}">{{ original_post.title }}</a></li>
</ul>

{% if logged_in %}
	{% if original_post.locked == 0 %}
	<a href="{{base_url()}}forums/newreply/{{original_post.id}}" class="button cms-button">
		<i class="icon-plus"></i> Add reply
	</a>
	{% endif %}
	
	{% if is_mod %}
	<a href="{{base_url()}}forums/locktopic/{{original_post.id}}" class="button cms-button">
		<i class="icon-lock"></i> {{ original_post.locked == 0 ? 'Lock topic' : 'Unlock topic' }}
	</a>

	<a href="{{base_url()}}forums/sticky/{{original_post.id}}" class="button cms-button">
		<i class="icon-asterisk"></i> {{ original_post.sticky == 0 ? 'Sticky' : 'Unsticky' }}
	</a>

	<a href="{{ base_url() }}forums/deletetopic/{{ original_post.id }}" class="button cms-button">
		<i class="icon-trash"></i> Delete topic
	</a>
	{% endif %}

	<br /><br />
{% endif %}

<div class="forum-post">

	<div class="forum-post-info">

		{{get_avatar(original_post.author, true)}}

		<span>{{get_username(original_post.author)}} <br /> {{original_post.date}}</span>
		
		{% if original_post.author == user.id or is_mod == true %}
			<a class="edit-post" href="{{ base_url() }}forums/edittopic/{{ original_post.id }}">edit</a>
		{% endif %}

	</div>

	<div class="forum-post-content">{{parse_markdown(original_post.content)}}</div>

</div>

{% for post in data %}

	<div class="forum-post">

		<div class="forum-post-info">

			{{get_avatar(post.poster, true)}}

			<span>{{get_username(post.poster)}} <br /> {{post.date}}</span>
			
			{% if post.poster == user.id or is_mod == true %}
				<a class="edit-post" href="{{ base_url() }}forums/editreply/{{ original_post.id }}/{{ post.id }}">edit</a>
			{% endif %}

		</div>

		<div class="forum-post-content">{{parse_markdown(post.content)}}</div>

	</div>

{% endfor %}

{% if logged_in %}

	{% if original_post.locked == 0 %}
	<a href="{{base_url()}}forums/newreply/{{original_post.id}}" class="button cms-button">
		<i class="icon-plus"></i> Add reply
	</a>
	{% else %}
		<p>This topic is closed!</p>
	{% endif %}
	
{% endif %}