<a href="{{base_url()}}forums/newtopic/{{forumID}}" class="small button"><i class="icon-plus"></i> New topic</a>
<a href="{{base_url()}}forums/newtopic/{{forumID}}" class="small button"><i class="icon-bullhorn"></i> New annoucement</a>
{% if data %}
	<table width="100%">
		<tbody>
		{% for topic in data %}
			<tr>
				<td width="30">
					{% if topic.sticky == 1 %}
					<i class="icon-asterisk icon-large"></i>
					{% else %}
					<i class="icon-comments icon-large"></i>
					{% endif %}
				</td>
				<td>
					<a href="{{base_url()}}forums/topic/{{topic.id}}">{{topic.title}}</a>
					<br />
					<span style="font-size: 12px;">Started by {{get_username(topic.poster)}}</span>
				</td>
				<td class="text-center">
					Posts: 2314
					<br />
					<span style="font-size: 12px;">Views: 423</span>
				</td>
				<td class="text-right">
					Last post by: User
					<br />
					<span style="font-size: 12px;">{{topic.date}}</span>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	No topics!
{% endif %}