<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{{clanname}} &dash; {{template.title}}</title>

	<meta name="author" content="Karlo Mikus">
	<meta name="description" content="Comet CMS Frontend theme">
	<meta name="generator" content="Comet CMS">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Load system required assets -->
	<link rel="stylesheet" href="{{system_assets()}}" type="text/css">
	<!-- Load system icons -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<!-- Load Theme's fonts -->
	<link href='http://fonts.googleapis.com/css?family=Monda:400,700|Open+Sans:400,700,300,800' rel='stylesheet' type='text/css'>
	<!-- Load theme's base css framework -->
	<link rel="stylesheet" href="{{theme_asset('css/base.css')}}" type="text/css">
	<!-- Load theme assets -->
	<link rel="stylesheet" href="{{theme_asset('css/theme.css')}}" type="text/css">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>