{% if galleries|default is not empty %}

	{% for gallery in galleries %}

	<div class="gallery">

		<img src="{{ base_url('uploads/' ~ show_gallery_preview(gallery.id)) }}" alt="" />

		<div class="gallery-info">
			<h4><a href="{{ base_url('gallery/show/' ~ gallery.id) }}">{{ gallery.name }}</a></h4>
			{{ cms_date(gallery.date) }} - {{ count_gallery_items(gallery.id) }} Pictures
			<ul>
				<li><img src="http://placehold.it/70x50" /></li>
				<li><img src="http://placehold.it/70x50" /></li>
				<li><img src="http://placehold.it/70x50" /></li>
				<li><img src="http://placehold.it/70x50" /></li>
			</ul>
		</div>

	</div>

	{% endfor %}

{% else %}
	No galleries available.
{% endif %}