<dl class="sub-nav">
	<dt>Filter:</dt>
	<dd {% if currentlabel == 'all' %} class="active" {% endif %}><a href="{{base_url()}}posts/archive/">All</a></dd>
	{% for label in labels %}
	<dd {% if currentlabel == label.name %} class="active" {% endif %}><a href="{{base_url()}}posts/archive/{{label.id}}">{{label.name}}</a></dd>
	{% endfor %}
</dl>

<hr />

{% if posts|default is not empty %}
	{% for post in posts %}
		<div class="panel">
			<div class="row">
				<div class="large-7 column">
					<small>{{post.date}} by {{get_username(post.author)}}</small>
					<h5>{{post.title}}</h5>
				</div>
				<div class="large-5 column text-right">
					<a href="{{base_url()}}post/{{post.slug}}" class="small button">Read</a>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	No posts
{% endif %}