{% for post in posts %}
	<div class="panel">
		<h4 class="subheader">{{post.title}} <br /><small>{{cms_date(post.date)}} in {{get_label_name(post.label)}}</small></h4>
		<p>
			{{post.teaser}}
			<br />
			<a href="{{base_url()}}post/{{post.slug}}">read more...</a>
		</p>
	</div>
{% endfor %}

<div class="text-right"><a href="{{base_url()}}posts/archive">Posts archive</a></div>

{{pagination}}