{% if posts|default is not empty %}

	{% for post in posts %}

		<div class="post">

			<div class="post-media">
				<img src="{{ base_url() }}uploads/labels/{{ get_label_image(post.label) }}" alt="" />
			</div>

			<h3><a href="{{ base_url() }}post/{{ post.slug }}">{{ post.title }}</a></h3>

			<div class="post-body">
				{{ post.teaser }}
			</div>

			<div class="post-footer">
				Posted by {{ get_username(post.author) }} on <time>{{ cms_date(post.date )}}</time> | {{ count_comments('posts', post.id) }} Comments
			</div>

		</div>

	{% endfor %}

{% else %}
	No posts available.
{% endif %}

{{ pagination }}