<div class="post-show">

	<h3 class="post-title">
		{{ post.title }}
		<small>{{ get_username(post.author, false) }} &dash; {{ cms_date(post.date )}}</small>
	</h3>

	<p>
		{{ post.teaser }}
	</p>

	<div class="post-media">
		<img src="{{ base_url() }}uploads/posts/{{ get_post_image(post.id) }}" alt="" />
	</div>

	<div class="post-body">
		{{ post.body }}
	</div>
	
</div>

{{comments}}