<a href="{{ base_url() }}messages/index/sent" class="button cms-button">Sent</a>
<a href="{{ base_url() }}messages/" class="button cms-button">Received</a>
<a href="{{ base_url() }}messages/create" class="button cms-button">New</a>

<hr />

{% for msg in data %}
	<div class="cms-pm">
		<span><i class="icon-envelope"></i> {{ msg.title }}</span>
		<small>{{ get_username(msg.from) }}, {{ cms_date(msg.date) }} - {{ cms_time(msg.date) }}</small>
		<p>
			{{ msg.content }}
			<br />
		</p>
	</div>
{% endfor %}