{{template.partials.head}}

<body>

	<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="wrap">

		<header>
			<nav class="pure-menu pure-menu-open pure-menu-horizontal">
				<a href="{{base_url('/')}}" class="pure-menu-heading">{{clanname}}</a>

				{{ widget('navigation') }}
			</nav>
		</header>

		<hr />

		<section>
			
			<div class="content">
				{{ template.body }}
			</div>

		</section>

		<hr />

		<footer>
			Copyright &copy; {{ date('Y') }} - {{ clanname }}
		</footer>

	</div>

</body>

{{ template.partials.foot }}

</html>