{% for team in data %}
	<div class="panel">
		<h3>{{team.name}}</h3>
		<div>
			{% for game in get_team_games(team.id) %}
				{{get_game_icon(game, true)}} 
			{% endfor %}
		</div>
		<p>{{team.description}}</p>
		<p>
			<strong>From:</strong> {{get_country(team.countryID, 'icon')}} {{get_country(team.countryID, 'name')}}
		</p>
		<hr />
		<ul class="cms-list">
		{% for member in get_full_roster(team.id) %}
			<li class="text-center">{{get_avatar(member.user_id, true)}} {{get_username(member.user_id)}}</li>
		{% endfor %}
		</ul>
	</div>
{% endfor %}