{% for team in data %}
	<div class="panel">
		<h5>{{team.name}}</h5>
		<div>
			{% for game in get_team_games(team.id) %}
				{{get_game_icon(game, true)}} 
			{% endfor %}
		</div>
		<p>{{team.description}}</p>
		<p>
			<strong>From:</strong> {{get_country_info(team.countryID, 'icon')}} {{get_country_info(team.countryID, 'name')}}
		</p>
		<hr />
		<ul class="small-block-grid-5">
		{% for member in get_full_roster(team.id) %}
			<li class="text-center">{{get_avatar(member.user_id, true)}} {{get_username(member.user_id)}}</li>
		{% endfor %}
		</ul>
	</div>
{% endfor %}