{% for message in messages %}
	{{ message }}
{% endfor %}

{{ validation_errors() }}
{{ form_open_multipart(current_url()) }}

<fieldset class="cms-edit-profile">

	<legend>Personal Information</legend>

	<label>First name*</label>
	<input type="text" name="firstname" value="{{ data.first_name }}" />

	<label>Last name</label>
	<input type="text" name="lastname" value="{{ data.last_name }}" />

	<label>Date of birth*</label>
	<input type="text" name="dob" value="{{ cms_date(data.dob) }}" />

	<label>Gender*</label>
	<select name="gender">
		<option value="male" selected>Male</option>
		<option value="female">Female</option>
	</select>

	<label>Country*</label>
	<select name="country">
		{% for country in get_countries() %}
			<option value="{{ country.id }}" {{ country.id == data.country ? 'selected' : '' }}>{{ country.name }}</option>
		{% endfor %}
	</select>

	<label>Avatar</label>
	<input type="file" name="avatar" />

</fieldset>

<br />

<fieldset class="cms-edit-profile">

	<legend>Public profile</legend>
	
	<label>About me:</label>
	<textarea name="aboutme">{{ data.about }}</textarea>

</fieldset>

<br />

<fieldset class="cms-edit-profile">

	<legend>Account edit</legend>

	<label>New password</label>
	<input type="password" name="newpassword" />

	<label>New email</label>
	<input type="text" name="newmail" />

	<label>Current password</label>
	<input type="password" name="password" />
	<br />
	<small>Only needed if you change your password or email</small>

</fieldset>

<br />

<button type="submit" class="pure-button pure-button-primary">Save changes</button>

{{form_close()}}