{% for message in messages %}
	<p class="alert">{{ message }}</p>
{% endfor %}

{{ validation_errors() }}

<div class="profile-form">

{{ form_open_multipart(current_url()) }}

	<div class="create-form">

		<h3>Personal Information</h3>

		<label class="required">First name</label>
		<input type="text" name="firstname" value="{{ data.first_name }}" />

		<label>Last name</label>
		<input type="text" name="lastname" value="{{ data.last_name }}" />

		<label class="required">Date of birth</label>
		<input type="text" name="dob" value="{{ cms_date(data.dob) }}" />

		<label class="required">Gender</label>
		<select name="gender">
			<option value="male" selected>Male</option>
			<option value="female">Female</option>
		</select>

		<label class="required">Country</label>
		<select name="country">
			{% for country in get_countries() %}
				<option value="{{ country.id }}" {{ country.id == data.country ? 'selected' : '' }}>{{ country.name }}</option>
			{% endfor %}
		</select>

		<label>Avatar</label>
		<input type="file" name="avatar" />

		<label>Profile background</label>
		<input type="file" name="background" />

	</div>

	<div class="create-form">

		<h3>Public Profile</h3>
	
		<label>About me:</label>
		<textarea name="aboutme">{{ data.about }}</textarea>

	</div>

	<div class="create-form">

		<h3>Social networks</h3>
	
		<label>Steam:</label>
		<input type="text" name="steam" value="{{ data.steam }}" />

	</div>

	<div class="create-form">

		<h3>Account edit</h3>
		
		<label>New password</label>
		<input type="password" name="newpassword" />

		<label>New email</label>
		<input type="text" name="newmail" />

		<label>Current password <small>Only needed if you change your password or email</small></label>
		<input type="password" name="password" />
		<br />

	</div>

	<button type="submit" class="button cms-button">Save changes</button>

{{form_close()}}

</div>