<div class="cms-profile-header">
	<img class="cms-profile-avatar" src="{{ base_url() }}uploads/users/{{ get_avatar(userdata.id) }}" alt="avatar" />
	<header>
		<h3>
			{{ userdata.username }}
			{% if is_loggedin %}
				<a href="{{ site_url('users/profile/edit/' ~ userdata.id) }}"><i class="icon-edit"></i></a>
			{% endif %}
		</h3>
		<h4>{{ get_country(userdata.country, 'icon', TRUE) }} {{ userdata.first_name }} {{ userdata.last_name }}</h4>
	</header>
</div>

<h3>About me:</h3>
<p>{{ userdata.about }}</p>