{% if is_loggedin %}
<a href="{{site_url('users/profile/edit/1')}}" class="small button">Edit profile</a>
{% endif %}

{% set age = '-' %}
{% if data.dob is defined %}
{% set age = data.dob %}
{% endif %}
<p>
	<strong>Username:</strong> {{data.username}} <br />
	<strong>Email:</strong> {{data.email}} <br />
	<strong>Firstname:</strong> {{data.first_name}} <br />
	<strong>Lastname:</strong> {{data.last_name}} <br />
	<strong>Age:</strong> {{age}} <br />
	<strong>Country:</strong> {{data.country}} <br />
	<strong>Gender:</strong> {{data.gender}}
</p>