<div class="user-profile-header">

	<div class="user-profile-bg" style="background: #ddd url({{ base_url() }}uploads/{{ userdata.background }});">
		<img class="cms-profile-avatar" src="{{ base_url() }}uploads/users/{{ get_avatar(userdata.id) }}" alt="avatar" />
	</div>

	<h2>
		<span>{{ userdata.first_name }}</span> {{ userdata.username }} <span>{{ userdata.last_name }}</span>
		{% if is_loggedin %}
			<a href="{{ site_url('users/profile/edit/' ~ userdata.id) }}"><i class="icon-edit"></i></a>
		{% endif %}
		<small>{{ get_country(userdata.country, 'icon', TRUE) }} {{ get_country(userdata.country, 'name') }}</small>
	</h2>

</div>

<h3>About me:</h3>
<p>{{ userdata.about }}</p>