{% if total_comments > 0 %}
	<h3 class="subtitle">{{ total_comments }} Comment(s):</h3>
{% endif %}

{% if errors|default is not empty %}
	<div class="alert" id="errors">
		{{ errors }}
	</div>
{% endif %}

{% for comment in data %}

<article class="comment">

	<div class="comment-avatar">{{ get_avatar(comment.poster_id, true) }}</div>

	<div class="comment-body">

		<header>
			{{ get_username(comment.poster_id) }} on {{ cms_date(comment.date) }} - {{ cms_time(comment.date) }}

			{% if comment.poster_id == user.user_id or is_admin == true %}
				<a class="comment-actions" href="{{ base_url() }}comments/delete/{{ comment.id }}"><i class="icon-remove-sign"></i></a>
			{% endif %}
		</header>

		<p>{{ parse_markdown(comment.content) }}</p>

	</div>

</article>
{% endfor %}