{% for comment in data %}
<div class="panel">
	<div class="row">
		<div class="large-2 columns hide-for-small">{{get_avatar(comment.poster_id, true)}}</div>
		<p class="large-10 columns">
			{{comment.content}}
			<br />
			<small>
				Posted by {{get_username(comment.poster_id)}} on {{comment.date}}
				{% if comment.poster_id == user.user_id or is_admin == true %}
				[<a href="{{base_url()}}comments/delete/{{comment.id}}">delete</a>]
				{% endif %}
			</small>
		</p>
	</div>
</div>
{% endfor %}