<h6>{{ total_comments }} Comments:</h6>

{% if errors|default is not empty %}
<div class="alert-box">
	{{ errors }}
</div>
{% endif %}

{% for comment in data %}
<article class="comment">

	<aside class="comment-avatar">
		{{ get_avatar(comment.poster_id, true) }}
	</aside>

	<section class="comment-content">
		<header>
			<h5>
				{{ get_username(comment.poster_id) }} <br />
				<small>{{ cms_date(comment.date) }} - {{ cms_time(comment.date) }}</small>
			</h5>
			{% if comment.poster_id == user.user_id or is_admin == true %}
				<div><a class="tiny button" href="{{ base_url() }}comments/delete/{{ comment.id }}">delete</a></div>
			{% endif %}
		</header>
		<p>{{ parse_markdown(comment.content) }}</p>
	</section>

</article>
{% endfor %}