{% if matches|default is not empty %}

	<table>
	  <thead>
		<tr>
		  <th>Opponent</th>
		  <th>Game</th>
		  <th>Date</th>
		  <th>Result</th>
		</tr>
	  </thead>
	  <tbody>
		{% for match in matches %}
			<tr>
			  <td><a href="{{ base_url() }}matches/show/{{ match.id }}">{{ get_opponent_name(match.opponent) }}</a></td>
			  <td>{{ get_game_name(match.game) }}</td>
			  <td>{{ cms_date(match.date) }}</td>
			  <td>{{ get_match_result(match.id, 'text') }}</td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>

{% else %}
	No Matches available.
{% endif %}

{{ pagination }}