<div class="row match">
	<div class="large-2 columns textright" style="font-size: 22px; line-height: 150px;">
		{{get_result(match.id, false)}}
	</div>
	<div class="large-3 columns textcenter">
		<img src="{{base_url()}}/uploads/opponents/{{get_opponent_logo(match.opponent)}}" /><br />
		{{get_opponent_name(match.opponent)}}
	</div>
	<div class="large-2 columns textcenter" style="line-height: 150px;">
		<h3>VS</h3>
	</div>
	<div class="large-3 columns textcenter">
		<img src="{{base_url()}}/uploads/teams/{{get_team_logo(match.team)}}" /><br />
		{{get_team_name(match.team)}}
	</div>
	<div class="large-2 columns textleft" style="font-size: 22px; line-height: 150px;">
		{{get_result(match.id)}}
	</div>
</div>
<table width="50%" style="margin: 20px auto;">
	<tr>
		<th></th>
		<th>Opponent</th>
		<th>Team</th>
	</tr>
	{% set i = 1 %}
	{% for round in get_scores(match.id) %}
	<tr>
		<td class="textcenter">Round {{i}}:</td>
		<td class="textcenter">{{round.opponent}}</td>
		<td class="textcenter">{{round.team}}</td>
	</tr>
	{% set i = i + 1 %}
	{% endfor %}
</table>

<p class="panel">
	{{match.report}}
</p>

{% if get_match_screenshots(match.id)|length > 0 %}
<h4>Screenshots:</h4>
<div class="panel">
	<ul class="small-block-grid-4">
	{% for screenshot in get_match_screenshots(match.id) %}
		<li><a href="{{base_url()}}uploads/screenshots/{{screenshot.file}}" target="_blank"><img src="{{base_url()}}uploads/screenshots/{{screenshot.file}}" alt="Screenshot" /></a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

<h4>Comments:</h4>
{{comments}}