<div class="match-versus">
	
	<div class="match-team team-logo">
		<img src="{{ base_url() }}/uploads/teams/{{ get_logo(match.team, 'team') }}" />
		<h4>{{ get_team_name(match.team) }}sssssssssss</h4>
	</div>

	<div class="match-score">
		{{ cms_date(match.date) }}
		<br />
		<span>
			{{ get_result(match.id, 1) }}:{{ get_result(match.id, 2) }}
		</span>
		<br />
		Event name
	</div>

	<div class="match-opponent team-logo">
		<img src="{{ base_url() }}/uploads/opponents/{{ get_logo(match.opponent, 'opponent') }}" />
		<h4>{{ get_opponent_name(match.opponent) }}ssssssss</h4>
	</div>

</div>

<br />

<table>
	<thead>
		<tr>
			<th></th>
			<th>Team</th>
			<th>Opponent</th>
		</tr>
	</thead>
	{% set i = 1 %}
	{% for round in get_scores(match.id) %}
	<tr>
		<td>Round {{ i }}:</td>
		<td>{{ round.team }}</td>
		<td>{{ round.opponent }}</td>
	</tr>
	{% set i = i + 1 %}
	{% endfor %}
</table>

<div class="match-panel">
	<h4>Match Report</h4>
	{{ match.report }}
</div>

{% if get_match_screenshots(match.id)|length > 0 %}

<div class="match-panel">

	<h3>Screenshots</h3>

	<ul class="media-list">
	{% for screenshot in get_match_screenshots(match.id) %}

		<li>
			<a href="{{ base_url() }}uploads/screenshots/{{ screenshot.file }}" target="_blank" rel="lightbox-matches">
				<img src="{{ base_url() }}uploads/screenshots/{{ screenshot.file }}" alt="Screenshot" />
			</a>
		</li>

	{% endfor %}
	</ul>

</div>
{% endif %}

{{ comments }}