<div class="pure-g text-center">
    <div class="pure-u-1-5">
        <p>{{ get_result(match.id, 2) }}</p>
    </div>

    <div class="pure-u-1-5">
        <p>
        	<img src="{{ base_url() }}/uploads/opponents/{{ get_logo(match.opponent, 'opponent') }}" /><br />
			{{ get_opponent_name(match.opponent) }}
		</p>
    </div>

    <div class="pure-u-1-5">
        <p>VS</p>
    </div>

    <div class="pure-u-1-5">
        <p>
        	<img src="{{ base_url() }}/uploads/teams/{{ get_logo(match.team, 'team') }}" /><br />
			{{ get_team_name(match.team) }}
		</p>
    </div>

    <div class="pure-u-1-5">
        <p>{{ get_result(match.id, 1) }}</p>
    </div>
</div>

<br />

<table width="100%" class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Opponent</th>
			<th>Team</th>
		</tr>
	</thead>
	{% set i = 1 %}
	{% for round in get_scores(match.id) %}
	<tr>
		<td>Round {{ i }}:</td>
		<td>{{ round.opponent }}</td>
		<td>{{ round.team }}</td>
	</tr>
	{% set i = i + 1 %}
	{% endfor %}
</table>

<br />
<h3>Report</h3>

<div class="panel">
	<p>
		<strong>{{ cms_date(match.date) }}</strong> - <strong>{{ cms_time(match.date) }}</strong><br />
		{{ match.report }}
	</p>
</div>

{% if get_match_screenshots(match.id)|length > 0 %}

<h3>Screenshots</h3>

<div class="panel">

	<ul class="image-list">
	{% for screenshot in get_match_screenshots(match.id) %}

		<li>
			<a href="{{ base_url() }}uploads/screenshots/{{ screenshot.file }}" target="_blank">
				<img src="{{ base_url() }}uploads/screenshots/{{ screenshot.file }}" alt="Screenshot" />
			</a>
		</li>

	{% endfor %}
	</ul>

</div>
{% endif %}

{{ comments }}